body{
  display:grid;
  overflow:hidden;
  margin:0%;
  font-family: Kodchasan;
  font-weight: SemiBold;
}
.mainBox{
  display:grid;
  grid-template-columns:1fr 12fr 1fr;
  
}
.headerBox,.bodyBox{
  grid-column-start:2;
  grid-column-end:3;
  display:grid;
}
.headerBox{
  grid-template-columns:9fr 1fr 9fr;
  margin-bottom:5%;
  margin-top:5%;
}
.bodyBox{
  grid-template-columns:4fr 1fr 4fr 1fr 4fr 1fr 4fr;
}


.titleCont,.firstCont{
  grid-column-start: 1;
  grid-column-end: 2;
}
.imageCont,.secondCont{
  grid-column-start: 3;
  grid-column-end: 4;
}
.thirdCont{
  grid-column-start: 5;
  grid-column-end: 6;
}
.fourthCont{
  grid-column-start: 7;
  grid-column-end: 8;
}
.infoCont{
  grid-column-start: 1;
  grid-column-end:6;
}
.fullTitleCont{
  grid-column-start: 1;
  grid-column-end: 4;
}

.cont{
  font-size:2em;
  padding:10%;
  border-radius:10px;
  background-color: beige;
}
a,a:visited{
  text-decoration:none;
  color:darkolivegreen;
}
a:hover{
  color:darkseagreen;
}
.pic{
  max-width:100%;
  padding:4em;
  border-radius:10px;
}