body{
  background-color:rgb(45, 29, 13);
  display:grid;
  overflow:hidden;
  margin:0%;
  font-family: Kodchasan;
  font-weight: SemiBold;
}
.mainBox{
  display:grid;
  grid-template-columns:1fr 12fr 1fr;
  
}
.headerBox,.bodyBox{
  grid-column-start:2;
  grid-column-end:3;
  display:grid;
}
.headerBox{
  grid-template-columns:9fr 1fr 9fr;
  margin-bottom:5%;
  margin-top:5%;
  font-size:2em;
}
.bodyBox{
  grid-template-columns:4fr 1fr 4fr 1fr 4fr 1fr 4fr;
  font-size:1em;
}


.titleCont,.firstCont{
  grid-column-start: 1;
  grid-column-end: 2;
}
.imageCont,.secondCont{
  grid-column-start: 3;
  grid-column-end: 4;
}
.thirdCont{
  grid-column-start: 5;
  grid-column-end: 6;
}
.fourthCont{
  grid-column-start: 7;
  grid-column-end: 8;
}
.infoCont{
  grid-column-start: 1;
  grid-column-end:6;
}
.fullTitleCont{
  grid-column-start: 1;
  grid-column-end: 4;
}


.cont{
  box-shadow:10px 10px rgb(38, 25, 12);
  padding:5%;
  border-radius:10px;
  background-color: rgb(234, 218, 205);
  text-align:center;
}
.pic{
  box-shadow:10px 10px rgb(38, 25, 12);
  max-width:100%;
  border-radius:10px;
}
.bodytext,.titletext{
  padding-top:5%;
  padding-bottom:5%;
}
.linkBox:hover{
  background-color: rgb(198, 174, 154);
}

a,a:visited{
  text-decoration:none;
  color:darkolivegreen;
}
a:hover{
  color:darkseagreen;
}
